{% extends "base.html" %}

{% block content %}
  <style>
    :root{
        --cor-primaria-CarCard:#ffffff;
        --cor-primaria-sistema: #00ff88;
        --cor-secundaria-CarCard: #77ffc0;
        --cor-button-CarCard: #333;
        --tamanho-font-primaria: 17px;
        --tamanho-font-secundaria: 12px;
        --font-wheight-CarCard: 300;
    }

    body{
        background-color: #2f2841;
        min-width: 340px;
    }

    main{
      background-color: #2f2841;
      min-height: calc(100vh - 60px - 45px);
    }
    
    .car-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin: 0 auto;
        max-width: 1350px;
        padding: 20px 20px 80px 20px;
    }

    .hidden{
        opacity: 0;
        filter: blur(15px);
        transform: translateY(100%);
        transition: all 0.1s;
    }
    
    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

    .car-card:nth-child(2){
        transition-delay: 50ms;
    }

    .car-card:nth-child(3){
        transition-delay: 100ms;
    }

    .car-card:nth-child(4){
        transition-delay: 150ms;
    }

    .car-card:nth-child(5){
        transition-delay: 200ms;
    }

    .car-grid a{
      text-decoration: none;
      color: #333;
    }

    .car-card {
      background-color: #201b2c;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.3s ease;
      text-align: left;
      min-width: 160px;
      max-width: 310px;
      font-weight: var(--font-wheight-CarCard);
    }

    .car-card:hover {
        cursor: pointer;
    }

    .car-card img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 20px 10px 20px;
        z-index: 0;
    }

    .input-icon{
        position: relative;
    }

    .simbolo-pesquisar{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 600;
    }

    input[type="text"] {
        padding: 10px;
        padding-left: 40px;
        font-size: 17px;
        font-weight: bolder;
        border: 1.5px solid #8d8d8d;;
        border-radius: 8px;
        margin-right: 10px;
        width: 400px;
    }

    input[type="text"]:focus {
        outline: none;
    }

    button[type="submit"] {
        background-color: #00ff88;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.13s ease-in-out;
    }

    button[type="submit"]:hover {
        background-color: #108eb8;
    }

    .car-card-specs{
        min-height: 255px;
    }

    .car-card-oferta{
        color: rgb(255, 255, 255);
        background-color: #00ff88;
        font-size: var(--tamanho-font-secundaria);
        text-align: center;

        width: 140px;
        border-radius: 20px;

        margin-top: 6px;
        margin-left: 16px;
    }

    .car-card-specs-principal{
        padding: 8px 12px 12px 12px;
    }

    .car-card-model {
        font-weight: var(--font-wheight-CarCard);
        font-size: 17px;
        color: var(--cor-primaria-CarCard);
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
    }

    .car-card-descricao{
        font-size: var(--tamanho-font-secundaria);
        color: var(--cor-secundaria-CarCard);
        height: 36px;
    }

    .car-card-specs-value{
        color: #575757;
        font-weight: var(--font-wheight-CarCard);
        font-size: var(--tamanho-font-primaria);
        display: flex;
        padding: 0px 16px;
        margin-bottom: 5px;
    }

    .car-card-specs-AnoKm{
        font-size: var(--tamanho-font-secundaria);
        color: var(--cor-secundaria-CarCard);
        display: flex;
        justify-content: space-between;
        margin: 0px 16px;
    }
    
    .car-card-button{
        color: white;
        background-color: var(--cor-button-CarCard);
        font-size: var(--tamanho-font-secundaria);
        font-weight: bold;
        border-radius: 7px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 40px;
        margin: 10px 16px 10px 16px;
        transition: background-color 0.1s ease-in-out;
    }

    .car-card-button:hover{
        background-color: #8d8c8c;
    }

    .car-card-specs-regiao{
        color: var(--cor-secundaria-CarCard);
        font-size: 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0px 16px;
        height: 36px;
        cursor: auto;
    }

    .car-card-specs-regiao span{
        color: var(--cor-secundaria-CarCard);
        font-size: 15px;
        cursor: pointer;
    }

    .car-card-specs-regiao div{
        display: flex;
        gap: 3px;
    }

    .car-card-specs-regiao p{
        display: flex;
        align-items: center;
    }

    .no-results{
        color: white;
        padding-bottom: 5px;
    }

    @media (max-width: 1300px) {
        .car-grid {
            grid-template-columns: repeat(4, 1fr);
        }

        .car-card:nth-child(5){
            transition-delay: 0ms;
        }
    }
    
    @media (max-width: 1065px) {
        .car-grid {
            grid-template-columns: repeat(3, 1fr);
        }
        .car-card:nth-child(4){
            transition-delay: 0ms;
        }
    }

    @media (max-width: 800px) {
        .car-grid {
            grid-template-columns: repeat(2, 1fr);
        }
        
        .car-card:nth-child(3){
            transition-delay: 0ms;
        }

    }

    @media (max-width: 600px) {
        form{
            padding: 20px 0px;
        }

        .car-grid{
            padding: 10px;
        }

        input[type="text"] {
            width: 250px;
            font-size: 14px;
        }
        
        .car-grid {
            gap: 10px;
        }

        input[type="text"] {
            width: 200px;
            font-size: 10px;
        }
    
        button[type="submit"] {
            font-size: 10px;
        }

    }
    
    

  </style>

  <form method="GET" action="{% url 'cars_list' %}">
    <div class="input-icon">
        <span class="material-symbols-outlined simbolo-pesquisar " >search</span>
        <input type="text" name="search" placeholder="Digite o modelo do carro" >
    </div>
        <button type="submit">Buscar</button>
  </form>

{% if cars %}
    <div class="car-grid">
        {% for car in cars %}
            <div class="car-card hidden">
                <a href=" {% url 'car_detail' car.pk %} "> 
                    <div class="car-card-img">
                        <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
                    </div>
                </a>
                <div class="car-card-specs">
                    <a href=" {% url 'car_detail' car.pk %} ">
                        <div>
                            <div class="car-card-oferta">
                                Oferta destaque
                            </div>
                            <div class="car-card-specs-principal">
                                <div>
                                    <h2 class="car-card-model"> {{ car.brand }} {{ car.model }}</h2>
                                </div>
                                <div class="car-card-descricao">
                                    <p>{{car.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div >
                            <h2 class="car-card-specs-value"> R$ {{car.value}} </h2>
                            <div class="car-card-specs-AnoKm">
                                <p> {{car.factory_year}}/{{car.model_year}}</p>
                                <p> {{car.km}} Km</p>
                            </div>
                        </div>
                        <div class="car-card-button">
                            Visualizar veiculo
                        </div>
                        <hr>
                    </a>
                        <div class="car-card-specs-regiao">
                            <div>
                                <a href="https://www.google.com.br/maps/place/Campos+dos+Goytacazes,+RJ" target="_blank"> <span class="material-symbols-outlined">location_on</span> </a>
                                <p>Campos dos goytacazes - RJ</p>
                            </div>
                            <a href="#"> <span class="material-symbols-outlined">favorite</span> </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
    </div>
    <div class="no-results">
        <p> Nenhum carro encontrado...</p>
    </div>
    {% endif %}

    <script>
        const myObserver = new IntersectionObserver( (entries) => {
            entries.forEach( (entry) =>{
                if(entry.isIntersecting){
                    entry.target.classList.add('show')
                } else{
                    entry.target.classList.remove('show')
                }
            })
        } )

        const elements = document.querySelectorAll('.hidden')
        elements.forEach( (element) => myObserver.observe(element))
    </script>
{% endblock %}