{% extends "base.html" %}

{% block content %}
  <style>
    :root{
        --cor-primaria-CarCard:rgb(255, 255, 255);
        --cor-secundaria-CarCard: #77ffc0;
        --cor-button-CarCard: #333;
        --tamanho-font-primaria: 17px;
        --tamanho-font-secundaria: 12px;
        --font-wheight-CarCard: 300;
    }

    body{
        min-width: 340px;
    }

    main{
      background-color: #2f2841;
      min-height: calc(100vh - 60px - 45px);
    }

    .car-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      margin: 0 auto;
      max-width: 1350px;
      padding: 20px 20px 40px 20px;
    }

    .car-grid a{
      text-decoration: none;
      color: #333;
      font-size: 17px;
    }

    .car-card {
      background-color: #201b2c;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.3s ease;
      text-align: left;
      min-width: 140px;
      max-width: 350px;
      font-weight: var(--font-wheight-CarCard);
    }


    .car-card:hover {
        cursor: pointer;
        box-shadow: 0px 0px 7px #00ff8836;
        transform: translateY(-2px);
    }

    .car-card img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 20px 10px 20px;
        z-index: 0;
    }

    .input-icon{
        position: relative;
    }

    .simbolo-pesquisar{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 600;
    }

    input[type="text"] {
        padding: 10px;
        padding-left: 40px;
        font-size: 17px;
        font-weight: bolder;
        border: 1.5px solid #8d8d8d;;
        border-radius: 8px;
        margin-right: 10px;
        width: 400px;
    }

    input[type="text"]:focus {
        outline: none;
    }

    button[type="submit"] {
        background-color: #00ff88;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.13s ease-in-out;
    }

    button[type="submit"]:hover {
        background-color: #108eb8;
    }

    .car-card-oferta{
        color: rgb(255, 255, 255);
        background-color: #00ff88;
        font-size: var(--tamanho-font-secundaria);
        text-align: center;

        width: 140px;
        border-radius: 20px;

        margin-top: 6px;
        margin-left: 16px;
    }

    .car-card-specs-principal{
        padding: 8px 12px 12px 12px;
    }

    .car-card-model {
        font-weight: var(--font-wheight-CarCard);
        font-size: 17px;
        color: var(--cor-primaria-CarCard);
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
    }

    .car-card-descricao{
        font-size: var(--tamanho-font-secundaria);
        color: var(--cor-secundaria-CarCard);
    }

    .car-card-specs-value{
        color: #575757;
        font-weight: var(--font-wheight-CarCard);
        font-size: var(--tamanho-font-primaria);
        display: flex;
        padding: 0px 16px;
        margin-bottom: 5px;
    }

    .car-card-specs-AnoKm{
        font-size: var(--tamanho-font-secundaria);
        color: var(--cor-secundaria-CarCard);
        display: flex;
        justify-content: space-between;
        margin: 0px 16px;
    }
    
    .car-card-button{
        color: white;
        background-color: var(--cor-button-CarCard);
        font-size: var(--tamanho-font-secundaria);
        font-weight: bold;
        border-radius: 7px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 40px;
        margin: 10px 16px 10px 16px;
        transition: background-color 0.1s ease-in-out;
    }

    .car-card-button:hover{
        background-color: #8d8c8c;
    }

    .car-card-specs-regiao{
        color: var(--cor-secundaria-CarCard);
        font-size: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0px 16px;
        height: 36px;
    }

    .no-results{
        color: white;
        padding-bottom: 5px;
    }

    @media (max-width: 1300px) {
      .car-grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    
    @media (max-width: 1065px) {
      .car-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (max-width: 800px) {
        .car-grid {
            grid-template-columns: repeat(2, 1fr);
        }

    }

    @media (max-width: 600px) {
        form{
            padding: 20px 0px;
        }

        .car-grid{
            padding: 10px;
        }

        input[type="text"] {
            width: 250px;
            font-size: 14px;
        }
        
        .car-grid {
            gap: 10px;
        }

        input[type="text"] {
            width: 200px;
            font-size: 10px;
        }
    
        button[type="submit"] {
            font-size: 10px;
        }
    }
    

  </style>

  <form method="GET" action="{% url 'cars_list' %}">
    <div class="input-icon">
        <span class="material-symbols-outlined simbolo-pesquisar " >search</span>
        <input type="text" name="search" placeholder="Digite o modelo do carro" >
    </div>
        <button type="submit">Buscar</button>
  </form>

{% if cars %}
    <div class="car-grid">
        {% for car in cars %}
        <a href=" {% url 'car_detail' car.pk %} ">
            <div class="car-card">
                <div class="car-card-img">
                    <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
                </div>
                <div class="car-card-specs">
                    <div>
                        <div class="car-card-oferta">
                            Oferta destaque
                        </div>
                        <div class="car-card-specs-principal">
                            <div>
                                <h2 class="car-card-model"> {{ car.brand }} {{ car.model }}</h2>
                            </div>
                            {% if car.description %}
                            <div class="car-card-descricao">
                                <p>{{car.description}}</p>
                            </div>
                            {% else %}
                            <div class="car-card-descricao">
                                <p> Automóvel ainda sem descrição </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div >
                        <h2 class="car-card-specs-value"> R$ {{car.value}} </h2>
                        <div class="car-card-specs-AnoKm">
                            <p> {{car.factory_year}}/{{car.model_year}}</p>
                            <p> {{car.km}} Km</p>
                        </div>
                    </div>
                    <div class="car-card-button">
                        Visualizar veiculo
                    </div>
                    <hr>
                    <div class="car-card-specs-regiao">
                        <span class="material-symbols-outlined">
                            location_on
                        </span>
                        Campos dos goytacazes - RJ
                    </div>
                </div>
            </div>
        </a>   
        {% endfor %}
        {% else %}
    </div>
    <div class="no-results">
        <p> Nenhum carro encontrado...</p>
    </div>
    {% endif %}
{% endblock %}