{% extends 'base.html' %}

{% block content %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body, html{
        background-color: #2f2841;
    }

    main{
        height: calc(100vh - 60px - 65px);
    }

    .botoes-navegacao{
        padding-right: 70px;
    }

    .menu-login{
        width: 100vw;
        height: 86vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: #2f2841;
    }
    
    .esquerda-login{
        width: 55vw;
        height: 82vh;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .ilustracao-carros{
        width: 800px;
        height: 500px;
        display: flex;
        border-radius: 10px;
    }

    .img1{
        background-image: url(../../media/src/ferrari\ luxo.jpg);
        border-radius: 10px 0px 0px 10px;
    }

    .img2{
        background-image: url(../../media/src/mclaren\ luxo.jpg);
    }

    .img3{
        background-image: url(../../media/src/porshe\ luxo.jpg);
    }
    
    .img4{
        background-image: url(../../media/src/bmw\ luxo.jpg);
        border-radius: 0px 10px 10px 0px;
    }
        
    .img{
        background-size: cover;
        background-position: center center;
        flex-grow: 1;
        transition-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    .img:hover{
        flex-grow: 7;
    }

    .esquerda-login > h1, h2{
        display: none;
        color: #77ffc0;
    }
    
    .direita-login{
        width: 45vw;
        height: 82vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cadastro{
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding: 30px 35px;
        background-color: #201b2c;
        
        border-radius: 20px;
        box-shadow: 0px 10px 40px #00000056;
    }

    .cadastro > h1{
        color: #00ff88;
        font-weight: bold;
    }

    .cadastro > form{
        width: 95%;
    }

    .form-group{
        margin-bottom: 10px;
    }

    .campos-dados{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .cadastro > form > input{ /*Estilização do botão*/
        display: block;
        width: 100%;

        padding: 16px 0px;
        margin: 35px auto 15px auto;

        border: none;
        border-radius: 30px;
        box-shadow: 0px 7px 30px #00ff802a;

        color: #2b134b;
        background-color: #00ff88;
        font-weight: 800;
        letter-spacing: 2px; /*Espacamento entre as letra*/

        cursor: pointer;
    }
    
    input:focus {
        outline: none;
    }
    
    .cadastro > form > div{
        display: flex;
        flex-direction: column;
    }
    
    .cadastro > form > div > label{
        color: #e4e4e4;
        margin: 5px 0px;
    }
    
    .cadastro > form > div > input{
        height: 50px;
        font-size: 20px;
        color: #f0ffffde;
        background-color: #2f2841;
        border: none;
        border-radius: 30px;
        box-shadow: 0px 10px 20px #00000056;
        padding: 7px 15px;
        cursor: pointer;
    }
    
    .errorlist{
        width:fit-content;
        font-size: 14px;
        color: white;
        background-color: red;
    }

    .sem-cadastro{
        color: white;
    }

    .sem-cadastro > a{
        color: #77ffc0;
    }

    .sem-cadastro a:hover{
        text-decoration: underline;
    }

    footer{
        padding: 10px;
    }

    @media screen and (max-width: 1500px){
        .ilustracao-carros{
            display: none;
            margin-left: -100vw;
        }

        .esquerda-login > h1, h2{
            display: block;
        }
    }

    @media screen and (max-width: 850px) {
        .menu-login{
            flex-direction: column;
            height: 80vh;
            gap: 50px;
        }

        .esquerda-login{
            width: 100%;
            height: auto;

            margin-bottom: 30px;
        }

        .direita-login{
            width: 100%;
            height: 50%;
        }

        .cadastro{
            width: 85%;
            padding-bottom: 10px;
        }
    }

    @media screen and (max-height: 700px){
        main{
            height: auto;
        }
    }

    @media screen and (max-width: 500px){
        .esquerda-login > h1, h2{
            text-align: center;
        }

        .menu-login{
            height: 75vh;
        }
    }
    
</style>

<div class="menu-login">
    <div class="esquerda-login">
        <div class="ilustracao-carros">
            <div class="img img1"></div>
            <div class="img img2"></div>
            <div class="img img3"></div>
            <div class="img img4"></div>
        </div>
        <h1>Faça o login </h1>
        <h2>E adiquira hoje o seu novo veículo</h2>
    </div>
    <div class="direita-login">
        <div class="cadastro">
            <h1>Login</h1>
            <form method="POST" autocomplete="on">
                {% csrf_token %}

                <div class="form-group">
                    {{ login_form.username.errors }}
                    <label>Usuário </label>
                    {{ login_form.username }}
                </div>

                <div class="form-group">
                    {{ login_form.password.errors }}
                    <label>Senha </label>
                    {{ login_form.password }}
                </div>

                <input type="submit" value="LOGIN"></input>
            </form>
            <div class="sem-cadastro">
                Não possui cadastro ? <a href=" {% url 'register' %} "> Cadastre-se aqui </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}